* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: hsl(218, 28%, 13%);
    overflow-x: hidden;
}
 
/* Header and nav bar */

header {
    background: hsl(217, 28%, 15%);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 400, 700;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding: 75px calc((100% - 1250px) / 2);
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar li a {
    margin: 0 25px;
    color: #fff;
}

/* Intro section */

.intro {
    background: hsl(217, 28%, 15%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    padding: 0 calc((100% - 750px) / 2);
    padding-bottom: 200px;
}

.intro div h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 30px;
    font-size: 2.5rem;
    line-height: 1.5;
    word-spacing: 4px;
    position: relative;
    z-index: 2;
}

.intro div p {
    font-size: 1.2rem;
    line-height: 1.3;
    word-spacing: 3px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
}

.intro div button {
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    background: linear-gradient(to bottom right,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 17px 90px;
    border: none;
    border-radius: 27px;
    position: relative;
    z-index: 2;
}

.bg-style {
    position: absolute;
    top: 850px;
    left: -45px;
    z-index: 1;
}

/* Information Section */

.info {
    max-width: 1100px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info div {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 40px;
    color: #fff;
}

.info div h3 {
    margin: 10px 100px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.info div p {
    text-align: center;
    line-height: 1.3;
    font-size: 0.875rem;
    font-weight: 400;
}

/* See how fylo works section */

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1150px;
    margin: 50px auto;
    color: #fff;
}

.work div h2 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin: 20px 0;
    margin-top: 100px;
    line-height: 1.3;
}

.work div p {
    font-size: 0.875rem;
    line-height: 1.3;
    margin: 20px 0;
}

.work div .container {
    display: flex;
    align-items: center;
}

.work div .container a {
    color:  hsl(176, 68%, 64%);
    padding: 3px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

.work div .container a:hover {
    color:  hsl(198, 60%, 50%);
    border-bottom: 1px solid hsl(198, 60%, 50%);
}

.work div .container .arrow {
    background-color: hsl(176, 68%, 64%);
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}

/* Reviews Section */

.quotes {
    position: absolute;
    top: 2415px;
    left: 65px;
    z-index: -1;
}

.reviews {
    max-width: 1200px;
    margin: 180px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews div {
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    background: hsl(219, 30%, 18%);
    border-radius: 5px;
}

.reviews div p.review{
    font-size: 0.875rem;
    width: 300px;
    padding: 40px 25px 25px 25px;
}

.reviews .container1 {
    margin-right: 85px;
}

.reviews .container2 {
    margin-right: 55px;
}

.reviews .container3 {
    margin-right: 100px;
}

.reviews div img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.reviews div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.reviews div div h4 {
    font-size: 0.7rem;
    width: 100%;
    font-weight: 700;
}

.reviews div div p {
    font-size: 0.65rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }